<div class="center" id="main">
  <div class="form-group">
    <label class="sr-only" for="selCategory">Category: </label>
    <select class="form-control" id="selCategory" name="selCategory"
            #selCategory="ngModel" [(ngModel)]="uploader.category">
      <option value="M" *ngIf="musicEnabled">Music</option>
      <option value="V" *ngIf="videoEnabled">Video</option>
      <option value="I" *ngIf="imageEnabled">Image</option>
      <option value="E" *ngIf="ebookEnabled">Ebook</option>
    </select>
  </div>
  <div class="form-group">
    <input type="file" ng2FileSelect [uploader]="uploader" multiple [accept]="uploader._typeFilter"/><br/>
  </div>

  <h3>Upload queue</h3>
  <p class="label-low">Queue length: {{ uploader?.queue?.length }}</p>

  <table class="table label-low">
    <thead>
    <tr>
      <th width="40%">Name</th>
      <th>Size</th>
      <th>Progress</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of uploader.queue">
      <td><strong>{{ item?.file?.name }}</strong></td>
      <td *ngIf="uploader?.uploadOptions?.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
      <td *ngIf="uploader?.uploadOptions?.isHTML5">
        <div class="progress" style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
        </div>
      </td>
      <td class="text-center">
        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
      </td>
      <td nowrap>
        <button type="button" class="btn btn-success btn-xs"
                (click)="uploader.uploadItem(item)"
                [disabled]="item.isReady || item.isUploading || item.isSuccess || !item.metadata.isValid()">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button>
        <button type="button" class="btn btn-warning btn-xs"
                (click)="item.cancel()" [disabled]="!item.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button type="button" class="btn btn-danger btn-xs"
                (click)="item.remove()">
          <span class="glyphicon glyphicon-trash"></span> Remove
        </button>
        <button type="button" class="btn btn-success btn-xs"
                (click)="showMetadataModal(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
          <span class="glyphicon glyphicon-plus"></span> Describe
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="label-low">
    <div>
      Queue progress:
      <div class="progress" style="">
        <!--<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div> -->
        <progressbar [animate]="true" [value]="uploader?.progress" type="success">
          <b>{{uploader.progress > 0 && uploader.progress < 100 ? uploader.progress : "100"}}%</b></progressbar>
      </div>
    </div>
    <button type="button" class="btn btn-success btn-s"
            (click)="uploader.uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length || !_isAllItemsValid">
      <span class="glyphicon glyphicon-upload"></span> Upload all
    </button>
    <button type="button" class="btn btn-warning btn-s"
            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
      <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
    </button>
    <button type="button" class="btn btn-danger btn-s"
            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
      <span class="glyphicon glyphicon-trash"></span> Remove all
    </button>
  </div>

  <div class="modal fade" bsModal #metadataModal="bs-modal" [config]="{backdrop: 'static'}"
       tabindex="-1" role="dialog" aria-labelledby="Metadata label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">Add description</p>
          <button type="button" class="close" aria-label="Close" (click)="hideMetadataModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-edit-music-metadata *ngIf="uploader.category == 'M'"
                                   [item]="selectedItem"
                                   (hide)="hideMetadataModal()">
          </app-edit-music-metadata>
          <app-edit-video-metadata *ngIf="uploader.category == 'V'"
                                   [item]="selectedItem"
                                   (hide)="hideMetadataModal()">
          </app-edit-video-metadata>
          <app-edit-image-metadata *ngIf="uploader.category == 'I'"
                                   [item]="selectedItem"
                                   (hide)="hideMetadataModal()">
          </app-edit-image-metadata>
          <app-edit-ebook-metadata *ngIf="uploader.category == 'E'"
                                   [item]="selectedItem"
                                   (hide)="hideMetadataModal()">
          </app-edit-ebook-metadata>
        </div>
      </div>
    </div>
  </div>
</div>
