.gradient {
  border: 1px solid black;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
  background: #494949; /* Old browsers */
  background: -webkit-linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);

  background: -moz-linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
  background: -o-linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
  background: -ms-linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
  background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
}

.player {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}

.button {
  display: block;
  width: 34px;
  height: 34px;
  background: url(../../../assets/sprite.png) no-repeat;
  float: left;
  margin-right: 5px;
}

.play {
  background-position: 6px 5px;
}

.pause {
  background-position: -32px 5px;
}

.stop {
  background-position: -146px 5px;
}

.mute {
  background-position: -64px 5px;
}

.muted {
  background-position: -106px 5px;
}

.volumefull {
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 350px;
  margin-right: 5px;
  background: url(../../../assets/volume2.png) no-repeat 4px 4px;
}

input[type="range"] {
  -webkit-appearance: none;
  border: 1px solid black;
  position: absolute;
  top: 16px;
  display: block;
  width: 15%;
  height: 15px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #242323;
  left: 140px;

  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
  -moz-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid black;

  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #80e4df; /* Old browsers */
  background: -webkit-linear-gradient(to bottom, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);

  background: -moz-linear-gradient(to bottom, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
  background: -o-linear-gradient(to bottom, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
  background: linear-gradient(to bottom, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%); /* W3C */
}

.marquee-outer {
  display: block;
  height: 34px;
  overflow: hidden;
  position: absolute;
  left: 390px;
  width: 40%;
}

.marquee-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 5px 0 0;
  line-height: 20px;
  text-align: center;
  color: #f7f7f7;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 10s linear infinite;
  animation: scroll-left 10s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}

.time-display {
  display: block;
  height: 34px;
  overflow: hidden;
  position: absolute;
  left: 70%;
  width: 100px;
  margin-top: 5px;
  line-height: 20px;
  text-align: center;
  color: #f7f7f7;
}

.rating-display {
  display: block;
  height: 34px;
  overflow: hidden;
  position: absolute;
  left: 80%;
  width: 200px;
  margin-top: 5px;
  line-height: 20px;
  text-align: center;
  color: #f7f7f7;
}

.close-button {
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 97%;
  margin-right: 5px;
  background: url(../../../assets/close.png) no-repeat 4px 4px;
}
