<form style="width: 100%" class="form"
      role="form" (submit)="onSave()"
      #metadataForm="ngForm"
      accept-charset="UTF-8"
      id="metadataForm"
      *ngIf="isVisible">
  <section>
    <h2>Film </h2>
    <div class="form-group" style="margin-left: 20px;">
      <div class="form-group">
        <label for="inpTitle">Title: </label>
        <input type="text" class="form-control" id="inpTitle" placeholder="Title..."
               [(ngModel)]="videoMetadata._video._title" name="inpTitle" #inpTitle="ngModel" required>
      </div>
      <div [hidden]="!(inpTitle.errors && inpTitle.touched)"
           class="alert alert-danger">
        Title can't be empty
      </div>
      <div class="form-group">
        <label for="inpYear">Year: </label>
        <input type="number" class="form-control" id="inpYear" placeholder="Year..."
               [(ngModel)]="videoMetadata._video._productionYear" name="inpYear" #inpYear="ngModel">
      </div>
    </div>
  </section>
  <section>
    <h2>Directors </h2>
    <button type="button" class="btn btn-success btn-xs"
            (click)="onAddDirector()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button type="button" class="btn btn-danger btn-xs"
            (click)="onRemoveDirector()"
            [disabled]="videoMetadata._video._directorList.length <= 0">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
    <div class="form-group" style="margin-left: 20px;">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Second name</th>
          <th>Surname</th>
          <th>Birth year</th>
          <th>Death year</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let author of videoMetadata._video._directorList; let i = index">
          <td>
            <input [(ngModel)]="author._name"
                   [typeahead]="artistsTypeaheadList"
                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                   [typeaheadOptionsLimit]="8"
                   [typeaheadOptionField]="'_name'"
                   (input)="onDirectorsInput(i)"
                   [typeaheadWaitMs]="300"
                   [typeaheadAsync]="true"
                   [typeaheadMinLength]="0"
                   (typeaheadOnSelect)="onTypeaheadDirectorSelect($event, i)"
                   autocomplete="off"
                   placeholder="Name.."
                   class="form-control"
                   name="inpAuthorName"
                   #inpAuthorName="ngModel"
                   id="inpAuthorName"
                   (blur)="checkAuthorsValidation()">
          </td>
          <td>
            <input [(ngModel)]="author._name2"
                   [typeahead]="artistsTypeaheadList"
                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                   [typeaheadOptionsLimit]="8"
                   [typeaheadOptionField]="'_name2'"
                   (input)="onDirectorsInput(i)"
                   [typeaheadWaitMs]="300"
                   [typeaheadAsync]="true"
                   [typeaheadMinLength]="0"
                   (typeaheadOnSelect)="onTypeaheadDirectorSelect($event, i)"
                   autocomplete="off"
                   placeholder="Second name.."
                   class="form-control"
                   name="inpAuthorName2"
                   #inpAuthorName2="ngModel"
                   id="inpAuthorName2"
                   (blur)="checkAuthorsValidation()">
          </td>
          <td>
            <input [(ngModel)]="author._surname"
                   [typeahead]="artistsTypeaheadList"
                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                   [typeaheadOptionsLimit]="8"
                   [typeaheadOptionField]="'_surname'"
                   (input)="onDirectorsInput(i)"
                   [typeaheadWaitMs]="300"
                   [typeaheadAsync]="true"
                   [typeaheadMinLength]="0"
                   (typeaheadOnSelect)="onTypeaheadDirectorSelect($event, i)"
                   autocomplete="off"
                   placeholder="Surname.."
                   class="form-control"
                   name="inpAuthorSurname"
                   #inpAuthorSurname="ngModel"
                   id="inpAuthorSurname"
                   (blur)="checkAuthorsValidation()">
          </td>
          <td>
            <input type="number"
                   [(ngModel)]="author._birthYear"
                   [typeahead]="artistsTypeaheadList"
                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                   [typeaheadOptionsLimit]="8"
                   [typeaheadOptionField]="'_birthYear'"
                   [typeaheadWaitMs]="300"
                   [typeaheadAsync]="true"
                   [typeaheadMinLength]="0"
                   (typeaheadOnSelect)="onTypeaheadDirectorSelect($event, i)"
                   autocomplete="off"
                   placeholder="Birth"
                   class="form-control"
                   name="inpAuthorBirth"
                   #inpAuthorBirth="ngModel"
                   id="inpAuthorBirth"
                   (blur)="checkAuthorsValidation()">
          </td>
          <td>
            <input type="number"
                   [(ngModel)]="author._deathYear"
                   [typeahead]="artistsTypeaheadList"
                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                   [typeaheadOptionsLimit]="8"
                   [typeaheadOptionField]="'_deathYear'"
                   [typeaheadWaitMs]="300"
                   [typeaheadAsync]="true"
                   [typeaheadMinLength]="0"
                   (typeaheadOnSelect)="onTypeaheadDirectorSelect($event, i)"
                   autocomplete="off"
                   placeholder="Death"
                   class="form-control"
                   name="inpAuthorDeath"
                   #inpAuthorDeath="ngModel"
                   id="inpAuthorDeath"
                   (blur)="checkAuthorsValidation()">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div [hidden]="isDirectorsValid"
         class="alert alert-danger">
      Director name or surname cannot be empty
    </div>
  </section>
  <section>
    <h2>Serie </h2>
    <div class="form-group" style="margin-left: 20px;">
      <div class="form-group">
        <label for="inpSerieTitle">Serie title: </label>

        <input type="text" class="form-control"
               id="inpSerieTitle"
               placeholder="Serie title..."
               name="inpSerieTitle"
               #inpSerieTitle="ngModel"
               [(ngModel)]="videoMetadata._video._videoSerie._title"
               autocomplete="off"
               [typeahead]="videoSeriesTypeahedList"
               (typeaheadLoading)="changeTypeaheadLoading($event)"
               [typeaheadOptionsLimit]="6"
               [typeaheadOptionField]="'_title'"
               [typeaheadWaitMs]="300"
               [typeaheadAsync]="true"
               [typeaheadMinLength]="0"
               (typeaheadOnSelect)="onTypeaheadSerieSelect($event)"
               (input)="onVideoSeriesInput()">
      </div>
      <div class="form-group">
        <label for="inpSerieNumber">Serie number: </label>
        <input type="number" class="form-control"
               id="inpSerieNumber"
               placeholder="Serie number..."
               name="inpSerieNumber"
               #inpSerieNumber="ngModel"
               autocomplete="off"
               [(ngModel)]="videoMetadata._video._videoSerie._number"
               [typeahead]="videoSeriesTypeahedList"
               (typeaheadLoading)="changeTypeaheadLoading($event)"
               [typeaheadOptionsLimit]="6"
               (typeaheadOnSelect)="onTypeaheadSerieSelect($event)"
               [typeaheadOptionField]="'_number'">
      </div>
      <div class="form-group">
        <label for="inpSerieYear">Serie year: </label>
        <input type="number" class="form-control"
               id="inpSerieYear"
               placeholder="Serie year..."
               name="inpSerieYear"
               #inpSerieYear="ngModel"
               autocomplete="off"
               [(ngModel)]="videoMetadata._video._videoSerie._year"
               [typeahead]="videoSeriesTypeahedList"
               (typeaheadLoading)="changeTypeaheadLoading($event)"
               [typeaheadWaitMs]="300"
               [typeaheadAsync]="true"
               [typeaheadMinLength]="0"
               [typeaheadOptionsLimit]="6"
               (typeaheadOnSelect)="onTypeaheadSerieSelect($event)"
               [typeaheadOptionField]="'_year'">
      </div>
      <div class="form-group">
        <label for="taSerieComments">Serie comments: </label>
        <textarea class="form-control" id="taSerieComments"
                  placeholder="Comments..."
                  [(ngModel)]="videoMetadata._video._videoSerie._comments"
                  name="taSerieComments"
                  #taSerieComments="ngModel">

        </textarea>
      </div>
    </div>
  </section>
  <section>
    <h2>Film genre </h2>
    <div class="form-group" style="margin-left: 20px;">
      <div class="form-group">
        <label for="inpGenre">Genre: </label>
        <input type="text" class="form-control"
               id="inpGenre"
               placeholder="Genre..."
               [(ngModel)]="videoMetadata._video._filmGenre._name"
               name="inpGenre"
               #inpGenre="ngModel"
               autocomplete="off"
               [typeahead]="filmGenresTypeaheadList"
               (typeaheadLoading)="changeTypeaheadLoading($event)"
               [typeaheadOptionsLimit]="6"
               [typeaheadOptionField]="'_name'"
               [typeaheadWaitMs]="300"
               [typeaheadAsync]="true"
               [typeaheadMinLength]="0"
               (typeaheadOnSelect)="onTypeaheadGenreSelect($event)"
               (input)="onFilmGenreInput()">
      </div>
      <div class="form-group">
        <label for="inpGenreComments">Comments: </label>
        <input type="text" class="form-control"
               id="inpGenreComments"
               placeholder="Comments..."
               [(ngModel)]="videoMetadata._video._filmGenre._comments"
               name="inpGenreComments"
               #inpGenreComments="ngModel">
      </div>
    </div>
  </section>
  <div class="form-group" style="overflow-y: auto">
    <div style="float: left; margin-left: 20px">
      <label>Rating: </label>
      <rating [(ngModel)]="rate"
              #inpRating="ngModel"
              id="inpRating"
              name="inpRating"
              [max]="maxRate"
              (onHover)="hoveringOver($event)"
              (onLeave)="resetStar($event)">
      </rating>
      <span class="label"
            [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
            [ngStyle]="{display: (overStar) ? 'inline' : 'none'}">{{percent}}%
      </span>
    </div>
    <div style="float: right; margin-right: 25px">
      <label>
        <input type="checkbox" id="inpIsPublic"
               [(ngModel)]="videoMetadata._video._videoFileMetadata._isPublic"
               name="inpIsPublic"
               #inpIsPublic="ngModel">
        Set as public
      </label>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block"
            [disabled]="!metadataForm.form.valid || videoMetadata._video._directorList.length <= 0 || !isDirectorsValid">
      Save
    </button>
    <div [hidden]="videoMetadata._video._directorList.length > 0"
         class="alert alert-danger">
      There should be at least one director.
    </div>
  </div>
</form>
