<div class="modal fade" bsModal #deleteValidationModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" [attr.aria-labelledby]="displayedText" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">{{displayedText}}</h1>
        <button type="button" class="close" aria-label="Close" (click)="onHide(false)">
          <span aria-hidden="true" style="font-size: 15px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="btn-containter">
          <button type="button" class="btn btn-success btn-xs submit-buttons" (click)="onHide(true)">YES</button>
          <button type="button" class="btn btn-success btn-xs submit-buttons" (click)="onHide(false)">NO</button>
        </div>
      </div>
    </div>
  </div>
</div>
