#main {
  width: 50%;
}

input {
  margin-left: 1rem;
  margin-top: 1rem;
}

button {
  margin-left: 1rem;
  margin-top: 1rem;
}

select {
  margin-left: 1rem;
  margin-top: 1rem;
}

.text-center-div {
  text-align: center;
}

re-captcha {
  display: inline-block;
}
