.gradient {
  border: 1px solid black;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
  background: #494949; /* Old browsers */
  background: -webkit-linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);

  background: -moz-linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
  background: -o-linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
  background: -ms-linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
  background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
}

.player {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2147483647 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  -webkit-backface-visibility: hidden;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.button {
  width: 34px;
  height: 34px;
  background: url(../../../assets/sprite.png) no-repeat;
  float: left;
  margin-right: 5px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  cursor: pointer;
  text-align: center;
}

.play {
  background-position: 5px 5px;
}

.pause {
  background-position: -32px 5px;
}

.stop {
  background-position: -146px 5px;
}

.mute {
  background-position: -64px 5px;
}

.muted {
  background-position: -106px 5px;
}

.volumefull {
  display: block;
  width: 34px;
  height: 34px;
  left: 390px;
  margin-right: 5px;
  background: url(../../../assets/volume2.png) no-repeat 4px 4px;
}

#volumeBar {
  -webkit-appearance: none;
  border: 1px solid black;
  top: 16px;
  display: block;
  width: 15%;
  height: 15px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #242323;
  left: 140px;

  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
  -moz-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
}

#progressBar {
  -webkit-appearance: none;
  border: 1px solid black;
  top: 16px;
  display: block;
  width: 40%;
  height: 15px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #242323;
  left: 440px;

  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
  -moz-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
}

#selQual {
  width: 8%;
  padding: 5px 5px 5px 5px;
  top: 8px;
  margin-left: 10px;
  border: 1px solid black;
  display: block;
  border-radius: 8px;
  background-color: #242323;
  color: #ffffffb5;
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
  -moz-box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, .6);
}

#screenShot {
  z-index: 9999999;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid black;

  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #80e4df; /* Old browsers */
  background: -webkit-linear-gradient(to bottom, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);

  background: -moz-linear-gradient(to bottom, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
  background: -o-linear-gradient(to bottom, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
  background: linear-gradient(to bottom, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%); /* W3C */
}

.marquee-outer {
  display: block;
  height: 34px;
  overflow: hidden;
  position: absolute;
  left: 390px;
  width: 40%;
}

.marquee-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 5px 0 0;
  line-height: 20px;
  text-align: center;
  color: #f7f7f7;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 10s linear infinite;
  animation: scroll-left 10s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}

video::-webkit-media-controls {
  display: none !important;
  z-index: 0 !important;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}

video::full-screen {
  width: 100%;
  height: 100%;
}

video:-moz-full-screen {
  width: 100%;
  height: 100%;
}

video:-moz-full-screen {
  width: 100%;
  height: 100%;
}

video:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.time-display {
  display: block;
  height: 34px;
  overflow: hidden;
  left: 70%;
  width: 100px;
  margin-top: 5px;
  line-height: 20px;
  text-align: center;
  color: #f7f7f7;
  padding-top: 3px;
}

.rating-display {
  display: block;
  height: 34px;
  overflow: hidden;
  left: 80%;
  width: 200px;
  margin-top: 5px;
  line-height: 20px;
  text-align: center;
  color: #f7f7f7;
}

.close-button {
  display: block;
  width: 34px;
  height: 34px;
  left: 97%;
  margin-right: 5px;
  margin-left: auto;
  background: url(../../../assets/close.png) no-repeat 4px 4px;
}

figure {
  max-width:1024px;
  max-width:64rem;
  width:100%;
  height:auto;
  margin:20px 0 0;
  margin:1.25rem 0 0;
}
figcaption {
  display:block;
  font-size:16px;
  font-size:1rem;
}
video {
  z-index: 21474836 !important;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
html::-ms-fullscreen {
  width:100%;
}
video::-webkit-full-screen {
  background-color:transparent;
}

.controls {
  z-index: 2147483647 !important;
  left: 0;
}

/* hide controls on fullscreen with WebKit */
figure[data-fullscreen=true] video::-webkit-media-controls {
  display:none !important;
}
figure[data-fullscreen=true] {
  max-width:100%;
  width:100%;
  margin:0;
  padding:0;
}
figure[data-fullscreen=true] video {
  height:auto;
}
figure[data-fullscreen=true] figcaption {
  display:none;
}
figure[data-fullscreen=true] .controls {
  position:absolute;
  bottom:2%;
  width:100%;
  z-index:2147483647;
}

html:-ms-fullscreen {
  width:100%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 19999999;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
