.rectangle {
  width: 180px;
  height: 140px;
  border: 0;
  alignment: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 160px 100px;
  background-position-x: 10px;
  background-position-y: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

li:nth-of-type(n+0) {
  background-color: rgba(180, 180, 180, 0.25);
}

li:nth-of-type(n+1) {
  background-color: rgba(180, 180, 180, 0.25);
}

li:nth-of-type(n+2) {
  background-color: rgba(180, 180, 180, 0.25);
}

li:nth-of-type(n+3) {
  background-color: rgba(180, 180, 180, 0.25);
}

li:nth-of-type(n+4) {
  background-color: rgba(180, 180, 180, 0.25);
}

li:nth-of-type(n+5) {
  background-color: rgba(180, 180, 180, 0.25);
}

li:nth-of-type(n+6) {
  background-color: rgba(180, 180, 180, 0.25);
}

li:nth-of-type(n+7) {
  background-color: rgba(180, 180, 180, 0.25);
}

li:nth-of-type(n+8) {
  background-color: rgba(180, 180, 180, 0.25);
}

li:nth-of-type(n+9) {
  background-color: rgba(180, 180, 180, 0.25);
}

label {
  text-align: center;
  max-width: 180px;
  color: #00133f;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6em;
  max-height: 3.2em;
}

.vcontainer {
  text-align: center;
  vertical-align: middle;
}

.vlabel {
  margin-bottom: -8px;
  padding-top: 5px;
  color: #e8e8e8;
}

.vrating {
  margin-bottom: -8px;
  color: #e8e8e8;
}

h1 {
  padding-bottom: 1%;
  padding-left: 1%;
}

.play {
  background-color: #ff0b0b99
}

.play:hover {
  background-color: #ff0b0b
}

.info {
  background-color: #ff0b0b99
}

.info:hover {
  background-color: #ff0b0b
}
