<div class="center" style="width: 100%; height: 100%;">
  <h1 [hidden]="songsList == null || songsList.length <= 0">Songs: </h1>
  <ul style="display:block; float:left;">
    <li class="navbar-nav" *ngFor="let song of songsList; let i = index"
        style="margin: 0 10px 10px 0; list-style-type: none">
      <div class="rectangle">
        <div class="vcontainer">
          <button type="button" class="btn btn-success btn-xs" (click)="onPlayClick(song)">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <button type="button" class="btn btn-success btn-xs" (click)="onInfoItemClick(song)">
            <span class="glyphicon glyphicon-info-sign"></span>
          </button>
        </div>
        <label class="vcontainer" style="font-size: 12px; font-family: 'Times New Roman'">{{song?._title}}</label>
        <rating [(ngModel)]="song._rate"
                #inpRating="ngModel"
                id="inpRating"
                name="inpRating"
                class="vcontainer"
                [max]="10"
                [readonly]="true">
        </rating>
      </div>
    </li>
  </ul>
  <div class="modal fade" bsModal #metadataModal="bs-modal" [config]="{backdrop: 'static'}"
       tabindex="-1" role="dialog" aria-labelledby="Metadata label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Description:</h1>
          <button type="button" class="close" aria-label="Close" (click)="hideMetadataModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-metadata-info-view [category]="'M'">
          </app-metadata-info-view>
        </div>
      </div>
    </div>
  </div>
</div>
<app-snack-bar #snackMusicView></app-snack-bar>
<app-audio-player #audioMusicView></app-audio-player>
