<div>
  <p>Song: </p>
  <div class="form-group">
    <div class="form-group">
      <label for="inpTitle">Title: </label>
      <input type="text" class="form-control" id="inpTitle" placeholder="Title..."
             [(ngModel)]="musicMetadata.song.title" name="inpTitle" #inpTitle="ngModel">
    </div>
    <div class="form-group">
      <label for="inpYear">Year: </label>
      <input type="number" class="form-control" id="inpYear" placeholder="Year..."
             [(ngModel)]="musicMetadata.song.productionYear" name="inpYear" #inpYear="ngModel">
    </div>
  </div>
  <p>Artists: </p>
  <button type="button" class="btn btn-success btn-xs"
          (click)="onAddMusicAuthor()">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <button type="button" class="btn btn-danger btn-xs"
          (click)="onRemoveMusicAuthor()"
          [disabled]="musicMetadata.song.authors.length <= 0">
    <span class="glyphicon glyphicon-minus"></span>
  </button>
  <div class="form-group">
    <table class="table label-low">
      <thead>
      <tr>
        <th>Name</th>
        <th>Second name</th>
        <th>Surname</th>
        <th>Birth year</th>
        <th>Death year</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let author of musicMetadata.song.authors; let i of index">
        <td>
          <input [(ngModel)]="author.name"
                 [typeahead]="artistsTypeaheadList"
                 (typeaheadLoading)="changeTypeaheadLoading($event)"
                 [typeaheadOptionsLimit]="8"
                 [typeaheadOptionField]="'_name'"
                 (input)="onMusicAuthorInput(index)"
                 placeholder="Name.."
                 class="form-control">
          <div *ngIf="typeaheadLoading===true">
            <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
          </div>
        </td>
        <td>
          <input [(ngModel)]="author.name2"
                 [typeahead]="artistsTypeaheadList"
                 (typeaheadLoading)="changeTypeaheadLoading($event)"
                 [typeaheadOptionsLimit]="8"
                 [typeaheadOptionField]="'_name2'"
                 (input)="onMusicAuthorInput(i)"
                 placeholder="Second name.."
                 class="form-control">
          <div *ngIf="typeaheadLoading===true">
            <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
          </div>
        </td>
        <td>
          <input [(ngModel)]="author.surname"
                 [typeahead]="artistsTypeaheadList"
                 (typeaheadLoading)="changeTypeaheadLoading($event)"
                 [typeaheadOptionsLimit]="8"
                 [typeaheadOptionField]="'_surname'"
                 (input)="onMusicAuthorInput(i)"
                 placeholder="Surname.."
                 class="form-control">
          <div *ngIf="typeaheadLoading===true">
            <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
          </div>
        </td>
        <td>
          <input type="number"
                 [(ngModel)]="author.birthYear"
                 [typeahead]="artistsTypeaheadList"
                 (typeaheadLoading)="changeTypeaheadLoading($event)"
                 [typeaheadOptionsLimit]="8"
                 [typeaheadOptionField]="'_birthYear'"
                 class="form-control">
          <div *ngIf="typeaheadLoading===true">
            <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
          </div>
        </td>
        <td>
          <input type="number"
                 [(ngModel)]="author.deathYear"
                 [typeahead]="artistsTypeaheadList"
                 (typeaheadLoading)="changeTypeaheadLoading($event)"
                 [typeaheadOptionsLimit]="8"
                 [typeaheadOptionField]="'_deathYear'"
                 class="form-control">
          <div *ngIf="typeaheadLoading===true">
            <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <p>Album: </p>
  <div class="form-group">
    <div class="form-group">
      <label for="inpAlbumTitle">Album title: </label>

      <input type="text" class="form-control"
             id="inpAlbumTitle" placeholder="Album title..."
             name="inpAlbumTitle"
             [(ngModel)]="musicMetadata.song.album.albumTitle"
             [typeahead]="albumsTypeaheadList"
             (typeaheadLoading)="changeTypeaheadLoading($event)"
             [typeaheadOptionsLimit]="6"
             [typeaheadOptionField]="'_albumTitle'"
             (input)="onMusicAlbumInput()">
      <div *ngIf="typeaheadLoading===true">
        <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
      </div>
    </div>
    <div class="form-group">
      <label for="inpAlbumYear">Album year: </label>
      <input type="number" class="form-control" id="inpAlbumYear" placeholder="Album year..."
             name="inpAlbumYear" #inpAlbumYear="ngModel"
             [(ngModel)]="musicMetadata.song.album.albumYear"
             [typeahead]="albumsTypeaheadList"
             (typeaheadLoading)="changeTypeaheadLoading($event)"
             [typeaheadOptionsLimit]="6"
             [typeaheadOptionField]="'_albumYear'">
    </div>
    <div class="form-group">
      <label for="inpAlbumYear">Album comments: </label>
      <textarea class="form-control" id="taComments" placeholder="Comments..."
                [(ngModel)]="musicMetadata.song.album.comments" name="taComments" #taComments="ngModel"></textarea>
    </div>
  </div>
  <label>Genre: </label>
  <div class="form-group">
    <div class="form-group">
      <label for="inpGenre">Genre: </label>
      <input type="text" class="form-control" id="inpGenre" placeholder="Genre..."
             [(ngModel)]="musicMetadata.song.genre.name"
             name="inpGenre" #inpGenre="ngModel"
             [typeahead]="genresTypeaheadList"
             (typeaheadLoading)="changeTypeaheadLoading($event)"
             [typeaheadOptionsLimit]="6"
             [typeaheadOptionField]="'_name'"
             (input)="onMusicGenreInput()">
      <div *ngIf="typeaheadLoading===true">
        <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
      </div>
    </div>
    <div class="form-group">
      <label for="inpGenreComments">Comments: </label>
      <input type="text" class="form-control" id="inpGenreComments" placeholder="Comments..."
             [(ngModel)]="musicMetadata.song.genre.comments" name="inpGenreComments" #inpGenreComments="ngModel">
    </div>
  </div>
</div>
