.rectangle {
  width: 180px;
  height: 140px;
  border: 0;
  alignment: center;
  text-align: center;
}

li:nth-of-type(n+0) {
  background-color: rgba(0, 249, 178, 0.65);
}

li:nth-of-type(n+1) {
  background-color: rgba(63, 220, 0, 0.53);
}

li:nth-of-type(n+2) {
  background-color: rgba(255, 69, 0, 0.6);
}

li:nth-of-type(n+3) {
  background-color: rgba(0, 70, 255, 0.57);
}

li:nth-of-type(n+4) {
  background-color: rgba(255, 251, 0, 0.58);
}

li:nth-of-type(n+5) {
  background-color: rgba(255, 1, 196, 0.66);
}

li:nth-of-type(n+6) {
  background-color: rgba(222, 255, 108, 0.66);
}

li:nth-of-type(n+7) {
  background-color: rgba(11, 122, 255, 0.66);
}

li:nth-of-type(n+8) {
  background-color: rgba(34, 255, 0, 0.66);
}

li:nth-of-type(n+9) {
  background-color: rgba(239, 207, 255, 0.66);
}

label {
  text-align: center;
  max-width: 180px;
  color: #00133f;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6em;
  max-height: 3.2em;
}

.search {
  alignment: center;
}

.vcontainer {
  display: inherit;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  vertical-align: middle;
}

h1 {
  padding-bottom: 1%;
  padding-left: 1%;
}
