<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand area" [routerLink]="['/top']">Streamer</a>
    </div>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="dpLogin" [hidden]="loggedIn" class="li dropdown" dropdown [isOpen]="showLoginForm">
          <a id="login-href" class="a dropdown-toggle" dropdownToggle>LOGIN</a>
          <ul dropdownMenu role="menu" aria-labelledby="login-href">
            <app-login-form (loginEvent)="onLoginChange($event)"
                            (loginErrorEvent)="onLoginError($event)"></app-login-form>
          </ul>
        </li>
        <li [hidden]="!loggedIn"><a (click)="performLogout()" [routerLink]="['/top']">LOGOUT</a></li>
        <li [hidden]="!loggedIn"><a [routerLink]="['/account']">ACCOUNT</a></li>
        <li [hidden]="!loggedIn"><a [routerLink]="['/upload']">UPLOAD</a></li>
        <li><a [routerLink]="['/contact']">CONTACT</a></li>
        <li><a [routerLink]="['/top']">TOP</a></li>
        <li class="dropdown" dropdown>
          <a id="more-href" class="dropdown-toggle" dropdownToggle>MORE</a>
          <ul dropdownMenu role="menu" aria-labelledby="more-href">
            <li [hidden]="!loggedIn" role="menuitem"><a class="dropdown-item" [routerLink]="['/myfiles']">MY FILES</a>
            </li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/about']">ABOUT</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/help']">HELP</a></li>
          </ul>
        </li>
        <li class="li dropdown" dropdown autoClose="disabled">
          <a id="search-href" class="a dropdown-toggle" dropdownToggle>
            <span class="glyphicon glyphicon-search"></span>
          </a>
          <ul dropdownMenu role="menu" aria-labelledby="search-href">
            <app-search-component [filterType]="'ALL'" [type]="'M'"
                                  (search)="onSearchData($event)"></app-search-component>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="main" style="overflow-y: auto">
  <div id="divMenu">
    <a [hidden]="menuVisible" (click)="onMenuShowHideClick()">
      <span style="font-size: 25px" class="glyphicon glyphicon-list"></span>
    </a>
    <div id="sideNavbar" class="sidenav" [hidden]="!menuVisible">
      <a class="closebtn" (click)="onMenuShowHideClick()">&times;</a>
      <a [routerLink]="['/music']" class="li" style="padding-top: 60px">music</a>
      <a [routerLink]="['/video']" class="li">videos</a>
      <a [routerLink]="['/ebook']" class="li">e-books</a>
      <a [routerLink]="['/image']" class="li">images</a>
    </div>
  </div>
  <div id="divMainPage">
    <router-outlet></router-outlet>
    <app-snack-bar #snackMain></app-snack-bar>
  </div>
</div>
