<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li [hidden]="loginForm.logedIn" class="li dropdown" dropdown>
          <a id="login-href" href="/" class="a dropdown-toggle" dropdownToggle>LOGIN</a>
          <ul dropdownMenu role="menu" aria-labelledby="login-href">
            <app-login-form #loginForm></app-login-form>
          </ul>
        </li>
        <li [hidden]="!loginForm.logedIn"><a href="#">LOGOUT</a></li>
        <li [hidden]="!loginForm.logedIn"><a href="#">ACCOUNT</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">TOP</a></li>
        <li class="dropdown" dropdown>
          <a id="more-href" class="dropdown-toggle" dropdownToggle>MORE</a>
          <ul dropdownMenu role="menu" aria-labelledby="more-href">
            <li role="menuitem"><a class="dropdown-item" href="#">ABOUT</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">HELP</a></li>
          </ul>
        </li>
        <li><a><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
