@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.area {
  text-align: left;
  vertical-align: top;
  font-size: 2.5em;
  color: #fff;
  letter-spacing: 0px;
  font-weight: 100;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff,
  0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 5px #fff,
    0px 0px 5px #fff,
    0px 0px 12px #fff,
    0px 0px 12px #fff,
    0px 0px 12px #fff,
    0px 0px 12px #fff,
    0px 0px 12px #fff,
    0px 0px 12px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #7B96B8,
    0px 0px 75px #7B96B8,
    0px 5px 50px #7B96B8,
    0px 5px 50px #7B96B8,
    0px 5px 50px #7B96B8,
    0px 5px 50px #7B96B8,
    0px -5px 50px #7B96B8,
    0px -5px 50px #7B96B8;
  }
}
