<form style="width: 100%" class="form"
      role="form" (submit)="onSave()"
      #metadataForm="ngForm"
      accept-charset="UTF-8"
      id="metadataForm">
  <section>
    <h2>Image </h2>
    <div class="form-group" style="margin-left: 20px;">
      <div class="form-group">
        <label for="inpTitle">Title: </label>
        <input type="text" class="form-control" id="inpTitle" placeholder="Title..."
               [(ngModel)]="imageMetadata.imageDTO.title" name="inpTitle" #inpTitle="ngModel" required>
      </div>
      <div [hidden]="inpTitle.valid || inpTitle.prisitne"
           class="alert alert-danger">
        Title can't be empty
      </div>
      <div class="form-group">
        <label for="inpYear">Year: </label>
        <input type="number" class="form-control" id="inpYear" placeholder="Year..."
               [(ngModel)]="imageMetadata.imageDTO.year" name="inpYear" #inpYear="ngModel">
      </div>
    </div>
  </section>
  <section>
    <h2>Artists </h2>
    <button type="button" class="btn btn-success btn-xs"
            (click)="onAddArtist()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button type="button" class="btn btn-danger btn-xs"
            (click)="onRemoveArtist()"
            [disabled]="imageMetadata.imageDTO.artistDTOList.length <= 0">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
    <div class="form-group" style="margin-left: 20px;">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Second name</th>
          <th>Surname</th>
          <th>Birth year</th>
          <th>Death year</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let author of imageMetadata.imageDTO.artistDTOList; let i = index">
          <td>
            <input [(ngModel)]="author._name"
                   [typeahead]="artistsTypeaheadList"
                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                   [typeaheadOptionsLimit]="8"
                   [typeaheadOptionField]="'_name'"
                   [typeaheadWaitMs]="300"
                   [typeaheadAsync]="true"
                   [typeaheadMinLength]="0"
                   (typeaheadOnSelect)="onTypeaheadArtistSelect($event, i)"
                   (input)="onArtistInput(i)"
                   placeholder="Name.."
                   class="form-control"
                   name="inpAuthorName"
                   #inpAuthorName="ngModel"
                   id="inpAuthorName"
                   (blur)="checkArtistsValidation()">
          </td>
          <td>
            <input [(ngModel)]="author._name2"
                   [typeahead]="artistsTypeaheadList"
                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                   [typeaheadOptionsLimit]="8"
                   [typeaheadOptionField]="'_name2'"
                   [typeaheadWaitMs]="300"
                   [typeaheadAsync]="true"
                   [typeaheadMinLength]="0"
                   (typeaheadOnSelect)="onTypeaheadArtistSelect($event, i)"
                   (input)="onArtistInput(i)"
                   placeholder="Second name.."
                   class="form-control"
                   name="inpAuthorName2"
                   #inpAuthorName2="ngModel"
                   id="inpAuthorName2"
                   (blur)="checkArtistsValidation()">
          </td>
          <td>
            <input [(ngModel)]="author._surname"
                   [typeahead]="artistsTypeaheadList"
                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                   [typeaheadOptionsLimit]="8"
                   [typeaheadOptionField]="'_surname'"
                   [typeaheadWaitMs]="300"
                   [typeaheadAsync]="true"
                   [typeaheadMinLength]="0"
                   (typeaheadOnSelect)="onTypeaheadArtistSelect($event, i)"
                   (input)="onArtistInput(i)"
                   placeholder="Surname.."
                   class="form-control"
                   name="inpAuthorSurname"
                   #inpAuthorSurname="ngModel"
                   id="inpAuthorSurname"
                   (blur)="checkArtistsValidation()">
          </td>
          <td>
            <input type="date"
                   [(ngModel)]="author._birthYear"
                   [typeahead]="artistsTypeaheadList"
                   (typeaheadLoading)="onArtistInput($event)"
                   [typeaheadOptionsLimit]="8"
                   [typeaheadOptionField]="'_birthYear'"
                   [typeaheadWaitMs]="300"
                   [typeaheadAsync]="true"
                   [typeaheadMinLength]="0"
                   (typeaheadOnSelect)="onTypeaheadArtistSelect($event, i)"
                   placeholder="Birth"
                   class="form-control"
                   name="inpAuthorBirth"
                   #inpAuthorBirth="ngModel"
                   id="inpAuthorBirth"
                   (blur)="checkArtistsValidation()">
          </td>
          <td>
            <input type="date"
                   [(ngModel)]="author._deathYear"
                   [typeahead]="artistsTypeaheadList"
                   (typeaheadLoading)="onArtistInput($event)"
                   [typeaheadOptionsLimit]="8"
                   [typeaheadOptionField]="'_deathYear'"
                   [typeaheadWaitMs]="300"
                   [typeaheadAsync]="true"
                   [typeaheadMinLength]="0"
                   (typeaheadOnSelect)="onTypeaheadArtistSelect($event, i)"
                   placeholder="Death"
                   class="form-control"
                   name="inpAuthorDeath"
                   #inpAuthorDeath="ngModel"
                   id="inpAuthorDeath"
                   (blur)="checkArtistsValidation()">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div [hidden]="isArtistsValid"
         class="alert alert-danger">
      Artist name or surname cannot be empty
    </div>
  </section>
  <section>
    <h2>Type </h2>
    <div class="form-group" style="margin-left: 20px;">
      <div class="form-group">
        <label for="inpType">Type: </label>
        <input type="text" class="form-control"
               id="inpType"
               placeholder="Type..."
               [(ngModel)]="imageMetadata.imageDTO.imageTypeDTO._name"
               name="inpType"
               #inpType="ngModel"
               [typeahead]="imageTypesTypeaheadList"
               (typeaheadLoading)="changeTypeaheadLoading($event)"
               [typeaheadOptionsLimit]="6"
               [typeaheadOptionField]="'_name'"
               [typeaheadWaitMs]="300"
               [typeaheadAsync]="true"
               [typeaheadMinLength]="0"
               (typeaheadOnSelect)="onTypeaheadTypeSelect($event)"
               (input)="onImageTypeInput()">
      </div>
      <div class="form-group">
        <label for="inpGenreComments">Comments: </label>
        <input type="text" class="form-control"
               id="inpGenreComments"
               placeholder="Comments..."
               [(ngModel)]="imageMetadata.imageDTO.imageTypeDTO._comments"
               name="inpGenreComments"
               #inpGenreComments="ngModel">
      </div>
    </div>
  </section>
  <div class="form-group">
    <label>
      <input type="checkbox" id="inpIsPublic"
             [(ngModel)]="imageMetadata.imageDTO.imageFileDTO._isPublic"
             name="inpIsPublic"
             #inpIsPublic="ngModel">
      Set as public
    </label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block"
            [disabled]="!metadataForm.form.valid || imageMetadata.imageDTO.artistDTOList.length <= 0 || !isArtistsValid">
      Save
    </button>
    <div [hidden]="imageMetadata.imageDTO.artistDTOList.length > 0"
         class="alert alert-danger">
      There should be at least one artist.
    </div>
  </div>
</form>
