<div class="center">
  <p>Change your password</p>
  <div class="form-group">
    <label class="label" for="lblUsername">Username:</label>
    <label id="lblUsername" class="label">{{username}}</label>
  </div>
  <div class="form-group">
    <label class="label" for="inpOldPassword">Old password:</label>
    <input type="password" class="form-control" id="inpOldPassword" placeholder="Old password.."
           [(ngModel)]="oldPassword" name="inpOldPassword" #inpOldPassword="ngModel" (blur)="validateOldPassword()">
    <div [hidden]="oldPasswordValid"
         class="alert alert-danger">
      Old password is not valid
    </div>
  </div>
  <div class="form-group">
    <label class="label" for="inpNewPassword">New password:</label>
    <input type="password" class="form-control" id="inpNewPassword" placeholder="New password.."
           [(ngModel)]="newPassword" name="inpNewPassword" #inpNewPassword="ngModel">
  </div>
  <div class="form-group">
    <label class="label" for="inpRepeatPassword">Repeat password:</label>
    <input type="password" class="form-control" id="inpRepeatPassword" placeholder="Repeat password.."
           name="inpRepeatPassword" #inpRepeatPassword>
    <div
      [hidden]="inpNewPassword.pristine || inpRepeatPassword.pristine || newPassword == inpRepeatPassword.textContent"
      class="alert alert-danger">
      Passwords do not matches
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block" (click)="onChangePassword()">CHANGE PASSWORD</button>
  </div>
</div>
