#changePasswordMain {
  width: 50%;
}

#header {
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

input {
  margin-left: 1rem;
  margin-top: 1rem;
}

button {
  margin-left: 1rem;
  margin-top: 1rem;
}
